@media #{$tableMode} {
  .progress-item{
    p{
      &:first-child {
        margin-top: 55px;
      }

      &:nth-child(2) {
        padding: 0 10px;
      }
    }

  }
}

@media #{$mobileMode} {
  .circular-progress{
    height: auto;

  }
}
