
.animation-background {
	background-color: $backgroundColorDMW;
	margin: 55px 0;
}
.indents-description-wrapper {
	padding: 30px 0 45px 0;
}
.emphasize-background {
	position: relative;
	a {
		/*display: none;*/
		opacity: 0;
		position: absolute;
		bottom: 30px;
		right: 20px;
				i {
			color: $site-color;
			width: 25px;
			height: 25px;
			display: inline-block;
			border: 2px solid $site-color;
			border-radius: 100%;
			text-align: center;
			font-size: 16px;
			font-weight: bold;
			padding-top: 2px;
		}
	}
	&:hover {
		background-color: $emphasizeBackgroundColorDMW;
		transition: 1s;
		a {
			/*display: block;*/
			opacity: 1;
			transition: 1s;
		}
		p {
			background-color: $emphasizeBackgroundColorDMW;
			transition: 1s;
		}
		.description-wrapper_borer_right {
			border-right: none;
		}
		.description-wrapper {
			p {
				&:first-child {
					color: $site-color;
					transition: 1s;
				}
			}
		}
		.manipulation__heading {
			p {
				color: $site-color;
				transition: 1s;
			}
		}
	}
}
.description-wrapper {
	width: 100%;
	position: relative;
	bottom: 22px;
	padding: 5px 0 4px 0;
	p {
		font-size: 16px;
		font-family: "Open_Sans";
		color: $fontColorDMW;
		line-height: 1.5;
		width: 80%;
		background-color: $backgroundColorDMW;
		margin: 26px auto;
		&:first-child {
			font-size: 20px;
			width: 65%;
			margin: 5px auto;
		}
	}
}
.description-wrapper_borer_right {
	border-right: solid 1px #e6e6e6;
}
.indents-manipulation-wrapper {
	padding: 30px 10px 45px 10px;
	min-height: 400px;
}
.manipulation-wrapper {
	p {
		font-size: 16px;
		font-family: "Open_Sans";
		color: $fontColorDMW;
		line-height: 1.5;
		width: 100%;
		background-color: $backgroundColorDMW;
		margin: 26px auto;
	}
}
.manipulation__heading {
	width: 90%;
	display: flex;
	align-items: flex-start;
	margin-bottom: 52px;
	p {
		width: 100%;
		font-size: 20px;
		margin: 2px 0 0 10px;
		height: 80px;
	}
}

.sleeping-baby {
	background-image: url("img/sliping_baby.png");
	height: 435px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	p {
		display: inline-block;
		max-width: 700px;
		font-size: 48px;
		font-family: "Myriad_Pro";
		color: rgba(50, 28, 93, 0.969);
		line-height: 1.25;
		text-align: center;
		padding-top: 100px;
	}
	a {
		font-size: 12px;
		font-family: "Open Sans Semibold";
		color: rgb(255, 255, 255);
		line-height: 45px;
		background-color: $site-color;
		height: 45px;
		width: 225px;
		border: none;
		margin: 110px auto 75px auto;
		text-decoration: none;
		letter-spacing: 1.5px;
		&:hover{
			background-color: #54cac8;
		}
	}
}
.price-baby {
	p {
		color:#fff;
	}
}

