.baby-and-parents {
	text-align: center;
	p {
		padding-top: 135px;
		color: #fff;
		font-size: 48px;
	}
}

.block-questions {
	font-family: "Open_Sans";
	padding-left: 25px;

	ol {
		background-color: #fff;
		padding: 40px 0 0 0px;
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		>li+li:before {
			content: "\f105";
			color: $site-color;
			font: normal normal normal 20px/1 FontAwesome;
			padding: 0 9px;
			vertical-align: middle;
		}
		li {
			font-size: 17px;

			a {
				color: #111;
				&:hover {
					color: $site-color;
				}
			}

			&:last-child {
				color: $textColorPrise;
			}
		}
	}

	h1 {
		color: #60b8b7;
		font-size: 30px;
		margin-bottom: 60px;
	}
}
.name-questions {
	margin-top: 30px;
}
.panel-default {
	border: none;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color:#fff;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #fff;
    border-top: none;
}

.panel-title {
	font-size: 19px;
	color: rgb(50, 28, 93);
	padding-left: 35px;

	a {
		text-decoration: none;
		position: relative;
	}    
}

.panel-heading {
	padding: 0;
	background-color: #fff;
}
.panel-heading a:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    margin-right: 5px;
    display: inline-block;
    left: -35px;
	background-size: contain;
	background-repeat: no-repeat;
    vertical-align: middle;
	background-image: url('img/arrow-bottom.svg');
}
.panel-heading a.collapsed:before {
	background-image: url('img/arrow-top.svg')!important;
}


.panel-group {
	font-size: 17px;
	color: rgb(51, 51, 51);
	line-height: 1.625;
	margin-bottom: 100px;
}

.panel {
	box-shadow: none;
}

.panel-title {
	margin-bottom: 20px;
}

.panel-body {
	padding: 0px;
	font-size: 16px;
	padding-bottom: 20px;

	p {
		margin-bottom: 15px;
		margin-top: 15px;

		&:first-child {
			margin-top:0px;
		}

		&:last-child {
			margin-top:10px;
			margin-bottom: 15px;
		}
	}

	ul {
	  color: rgb(50, 28, 93);
	  line-height: 1.8;
	  padding-left: 20px;
	  margin-top: 20px;
	  margin-bottom: 20px;
	}
}