.footer {
  width: 100%;
  height: 285px;
  background: #26215f;
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
}
.footer-menu{
  margin-top: 54px;
  ul{
    display: inline-block;
    vertical-align: top;
    padding-left: 12%;
    width: 32%;

    li{
      list-style: none;
      line-height: 30px;
      a{
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        &:hover{
          color: $site-color;
        }
      }

      .underline-link {
        color: $site-color;
        text-decoration: underline;
      }
    }
  }
  .about_clinic{
    li{
      &:last-child{
        a{
          display: inline-block;
          margin-top: 4px;
          line-height: 1.2em;
          color: $site-color;
          width: 200px;
        }
      }
    }
  }
}
.icsi_clinic {
  span {
  margin-top: 4px;
  color: #fff;
  font-size: 13px;
  display: inline-block;
  line-height: 1.5;
  }
  li {
    &:last-child {
      line-height: 15px;
    }
  }
}

.socials {
  margin-top: 57px;
  margin-bottom: 30px;
  text-align: center;

  p{
    margin-top: 25px;
    color: #fff;
    font-family: "Open Sans Semibold";
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.7px;
  }

  ul{
    padding: 0;
    margin-top: 30px;
    text-align: center;
    li{
      list-style: none;
      display: inline-block;
      margin: 0 10px;
      vertical-align: middle;
      a{
        width: 45px;
        height: 45px;
        font-size: 25px;
        line-height: 45px;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        border: 1px solid $site-color;
        border-radius: 100%;
        background-color: $site-color;
      }
      .telegram{
        border: 1px solid #139bd0;
        background-color: #139bd0;
        font-size: 20px;
        &:hover{
          border: 1px solid #41b8e6;
          background-color: #41b8e6;
        }
      }
      .messenger{
        border: 1px solid #0089ff;
        background-color: #0089ff;
        &:hover{
          border: 1px solid #0075ff;
          background-color: #0075ff;
        }
      }
      .viber{
        border: 1px solid #7c519b;
        background-color: #7c519b;
        &:hover{
          border: 1px solid #5e317d;
          background-color: #5e317d;
        }
      }
    }
  }
}

.operators {
  display: inline-block;
  padding-left: 20px;

  a {
    color: #fff;
    width: 170px;
    display: inline-block;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 20px;
    position: relative;

    span {
      color: $site-color;
    }
   
    
    &:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      left: -5px;
      top: 2px;
      background-size: contain;
      background-repeat: no-repeat;
    }

  }
  .city {
    &:before {
      background-image: url("img/city-icon.png");
    }
  }
  .vodafone {
    &:before {
      background-image: url("img/vodafone-icon.png");
    }
  }
  .kyivstar {
    &:before {
      background-image: url("img/kyivstar-icon.png");
    }
  }
  .life {
    &:before {
      background-image: url("img/life-icon.png");
    }
  }
}


