@media #{$smallDesktopModeMin} {
	.navbar-collapse.collapse {
		display: block!important;
	}
}

@media #{$smallDesktopMode} {
	.mobile-hide {
		display: none;
	}
	.mobile-center {
		text-align: center;
	}
	.navbar-brand {
		width: 280px;
		height: 58px;
		top: -5px;
		left: -5px;
		opacity: 1;
	}
	.navbar-header {
		float: right;
		width: 100%;
		position: relative;
		margin-top: 5px;
	}
	.navbar-toggle{
		display: block;
		margin: 10px 0;
		border: 1px solid $site-color;
		.icon-bar {
			background-color: $site-color;
		}
	}
	.navbar-collapse.collapse {
		margin-top: 60px;
		display: none!important;
		overflow: hidden!important;
	}
	.navbar-collapse{
		padding: 0;
	}
	.navbar-nav{
		margin: 0;
		li{
			display: block;
			text-align: left;
			a{
				background-color: transparent;
				border-top: none;
				&:hover{
					border-top: none;
				}
				&:focus{
					border-top: none;
				}
			}
		}
	}
	.dropdown-menu {
		position: static;
	}
	.dropdown-content {
		padding-left: 0;
		padding-top: 10px;

		ul{
			padding-left: 30px;
			display: block;

			span{
				font-size: 25px;
				width: 100%;
			}
		}
	}
	.collapse.in {
		display: block!important;
	}
}

@media #{$tableModeIpad} {
	.contact-left{
		float: none;
	}
	.contact-right{
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	.lang-menu{
		padding-right: 5px;
		&:after{
			display:none;
		}
	}
	.contact-left .contact-address{
		//width: 145px;
        margin-top: -10px;
	}
	.table-offset{
		margin-left: 8%;
	}

	.table-land{
		width: 58.33%;
	}
	.navbar-toggle {
		right: 10px;
	}
	.navbar-brand {
		left: -9px;
		top: 2px;
		width: 240px;
		height: 50px;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
}


@media #{$mobileMode} {
	.lang-menu{
		padding-right: 5px;
		&:after{
			display:none;
		}
	}
	.contact-left{
		float: none;
	}
	.contact-right {
		margin: 15px 0;
		float: none;
    	display: inline-block;

		ul{
			text-align: center;
			li {
				margin-left: 0;
				&:first-child {
					margin-right: 10px;
				}
			}
			.contact-btn{
				margin-top: 15px;
				margin-left: 0;
				width: 100%;
			}
		}
	}
	.contact-right{
		.time-dropdown {
			width: 100%;
			left: 0;
			>div {
				padding: 0px;
			}
			.row{
				margin: 0;
				margin-top: 15px;
			}
		}
	}
	ul.time-dropdown {
		.item{
			width: 50%;
		}	
	}
	.navbar-brand {
		left: -9px;
		top: 2px;
		width: 240px;
		height: 50px;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}


}