@font-face {
	font-family: Myriad_Pro;
	src: url(fonts/Myriad_Pro/Myriad_Pro_Regular.ttf);
}
/*@font-face {
	font-family: Open_Sans;
	src: url(fonts/Open_Sans/Open_Sans_Regular.ttf);
}*/

@font-face {
    font-family: 'Open_Sans';
    src: url(fonts/Open_Sans/OpenSans-Regular.eot#) format('eot'),
         url(fonts/Open_Sans/OpenSans-Regular.woff) format('woff'),
         url(fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url(fonts/Open_Sans/OpenSans-Semibold.eot#) format('eot'),
         url(fonts/Open_Sans/OpenSans-Semibold.woff) format('woff'),
         url(fonts/Open_Sans/OpenSans-Semibold.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(fonts/Open_Sans/OpenSans-Bold.eot#) format('eot'),
         url(fonts/Open_Sans/OpenSans-Bold.woff) format('woff'),
         url(fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
	 font-family: "Open_Sans";
}

.contact{
	background-color: #f1f1f1;
}
.contact-left{
	padding-top: 5px;
	float: left;

	div{
		display: inline-block;
	}
}
.contact-right{
	float: right;
}
.lang-menu{
	position: relative;
	padding-right: 45px;

	&:after{
		content: '';
		width: 2px;
		height: 30px;
		position: absolute;
		background-color: $site-color;
		top: 0px;
		right: 20px;
	}
	ul{
		padding: 0;
		margin: 0;

		li{
			list-style: none;
			position: relative;
			a{
				color: $site-color;
				text-decoration: none;
				border-radius: 100%;
				padding: 5px 6px;
				font-family: "Open Sans Semibold";
			}
			.active-lang{
				border: 1px solid $site-color;
			}
			&:hover .lang-dropdown {
				display: block;
			}
		}
	}
	.lang-dropdown{
		display: none;
		position: absolute;
		padding-top: 10px;
		width: 60px;
		left: -10px;
		z-index: 9999;

		ul{
			padding: 10px;
			border: 1px solid $site-color;
			border-top: none;
			background-color: #fff;
			li{
				line-height: 22px;
				a{
					color: #333;
					&:hover{
						color: $site-color;
					}
				}
			}
		}
	}
}
.contact-address{
	span{
		font-size: 12px;
		color: rgb(51, 51, 51);
		font-family: "Open Sans Semibold";
	}
}
.contact-right {
	ul{
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			list-style: none;
			margin-left: 15px;
			cursor: pointer;
			span{
				color: rgb(51, 51, 51);
				font-size: 12px;
				font-family: "Open Sans Semibold";

				i{
					color: $site-color;
					width: 25px;
					height: 25px;
					margin-right: 5px;
					display: inline-block;
					//border: 1px solid $site-color;
					border-radius: 100%;
					text-align: center;
					font-size: 16px;
					font-weight: bold;
					padding-top: 3px;
					vertical-align: middle;
				}
			}
			.time{
				i{
					display: inline-block;
					vertical-align: middle;
					background-repeat: none;
					width: 25px;
					height: 25px;
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url('img/arrow-bottom.png');

					&:hover {
						background-image: url('img/arrow-bottom.png');
					}
				}
				/*&:before {
					content: "\f107";
					font: normal normal normal 14px/1 FontAwesome;
					color: $site-color;
					width: 25px;
					height: 25px;
					margin-right: 5px;
					display: inline-block;
					border: 1px solid $site-color;
					border-radius: 100%;
					text-align: center;
					font-size: 16px;
					font-weight: bold;
					padding-top: 3px;
					vertical-align: middle;
				}
				&:hover {
					&:before{
						content: "\f106";
					}
				}*/
			}
			a{
				text-decoration: none;
				color: #fff;
			}
			&:hover .time-dropdown{
				display: block;
				max-height: 160px;
			}
		}
		.recording-btn {
			a {
				color: $site-color;
				font-size: 12px;
				font-family: "Open Sans Semibold";
				text-transform: uppercase;
			}
		}
		.contact-btn{
			background-color: $site-color;
			height: 40px;
			line-height: 40px;
			text-align: center;
			width: 225px;
			font-size: 12px;
			font-family: "Open Sans Semibold";

			&:hover{
				background-color: #3bb5b4;
			}
		}
	}
	.time-dropdown{
		position: absolute;
		display: none;
		-webkit-transition: max-height 1s;
		-moz-transition: max-height 1s;
		-ms-transition: max-height 1s;
		-o-transition: max-height 1s;
		transition: max-height 1s;
		// "height: 0" not work with css transitions
		max-height: 0;
	}
	.open .time-dropdown{
		display: block;
	}
}
ul.time-dropdown {
	position: relative;

	.row{
		margin-top: 7px;
		padding: 0 10px 20px 0px;
		background-color: #fff;
		z-index: 20;
		position: relative;
		border: 1px solid $site-color;
		border-top:none;
	}
	.item{
		padding-top: 30px;
		width: 170px;
	}
	.line{
		&:after{
			content: '';
			width: 1px;
			height: 90px;
			position: absolute;
			right: -3px;
			top: 33px;
			background-color: #60b8b7;
		}
	}
	.title{
		height: 30px;
		color: #333;
		margin-bottom: 13px;
		font-size: 12px;
		font-family: "Open Sans Semibold";

		a {
			color: $site-color;
		}
	}
	.roll{
		li{
			width:100%;
			margin: 0;
			span{

			}
			.label{
				float: left;
				color: $site-color;
			}
			.value{
				float: right;
			}
		}
	}
}

.logo{
	width: 100%;
	display: block;
	margin-top: 30px;
	margin-bottom: 15px;
	img{
		width: 100%;
		height:auto;
	}
}
.baby-block{
	margin-top: 10px;
	display: inline-block;
	margin-left: 30px;
	img{
		width: 100%;
		height:auto;
	}
}
.baby-count{
	display: inline-block;
	text-align: center;
	position: relative;
	width: 95px;
	height: 95px;
	padding-top: 32px;
	background-color: $site-color;
	vertical-align: middle;
	border-radius: 100%;
	line-height: 15px;
	font-family: "Open_Sans";

	span{
		font-size: 17px;
		&:last-child{
			font-size: 12px;
		}
	}
}
.nav-container{
	border-top: 1px solid #f1f1f1;
}
.navbar{
	border: none;
	margin: 5px 0;
	margin-top: -1px;
}

.navbar-nav {
	float: none;
	text-align: center;
}
.navbar-nav li {
	float: none;
	display: inline-block;
	margin: 0 4px;
}
.nav{
	font-size: 0;
	li{
		a{
			font-size: 18px;
			color: rgb(50, 28, 93);
			border-top: 3px solid transparent;
			font-family: "Open Sans Semibold";

			&:hover{
				background-color: transparent;
				border-top: 3px solid $site-color;
				color: $site-color;
			}
			&:focus{
				background-color: transparent;
				border-top: 3px solid $site-color;
				color: $site-color;
			}
		}
	}
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: transparent;
	border-color: $site-color;
	color: $site-color;
}


.nav > li.dropdown.open {
	position: static;
}
.nav > li.dropdown.open .dropdown-menu {
	display:table;
	width: 100%;
	left:0;
	right:0;
}
.dropdown-menu{
	border: none;
	box-shadow: none;
}
.dropdown-menu>li {
	display: table-cell;
}
.dropdown-content {
	padding-left: 65px;
	padding-top: 40px;
	padding-bottom: 30px;
	ul{
		display: inline-block;
		vertical-align: top;
		span{
			font-size: 30px;
			display: inline-block;
			width: 200px;
			line-height: 1.2em;
		}
		li{
			display: block;
			line-height: 40px;
			a{
				font-size: 16px;
				color: rgb(51, 51, 51);
				border: none!important;
				text-decoration: none;
				font-family: "Open Sans Semibold";

				&:before {
					content: "";
					width: 25px;
					height: 25px;
					margin-right: 10px;
					display: inline-block;
					background-size: contain;
					background-repeat: no-repeat;
					vertical-align: middle;
					background-image: url('img/arrow-right-gray.svg');
				}
				&:hover {
					color: $site-color;
					&:before{
						background-image: url('img/arrow-right.svg')!important;
					}
				}
			}
		}
	}
}
.next-dropdown{
	margin-top: 20px;
}
.navbar-brand {
	opacity: 0;
	width: 39px;
	height: 52px;
	position: absolute;
	top: 3px;
	left: -9px;
	background-size: cover;
	background-image: url('img/logo.png');
	transition: opacity 1s;
}

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
	background-color: rgba(255, 255, 255, 1);
}

.affix + .container-fluid {
	padding-top: 70px;
}

.affix .navbar-brand {
	opacity: 1;
}

.sprite-icon {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	background-size: contain;
	background-repeat: no-repeat;
}
.icon-arrow-top {
	background-image: url('img/arrow-top.svg');
}
.icon-arrow-right {
	background-image: url('img/arrow-right.svg');
}
.icon-arrow-bottom {
	background-image: url('img/arrow-bottom.svg');

	&:hover {
		background-image: url('img/arrow-top.svg')!important;
	}
}
.icon-lang {
	background-image: url('img/lang.svg');
}
.icon-phone {
	background-image: url('img/tel.svg');
}

.animation1 {
	animation-name: animation1;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	position: absolute;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.animation2 {
	animation-name: animation2;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	position: absolute;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes animation1 {
	0% {
	color: #fff;
	opacity: 1;
	}
	100% {
		color: $site-color;;
		opacity: 0;
	}
}
@keyframes animation2 {
	0% {
		color: $site-color;;
		opacity: 0;
	}
	100% {
			color: #fff;
			opacity: 1;
		}
}