.konsult-section {
	width: 100%;
	background-image: url(img/konsult-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.underline {
	text-decoration: underline;
}

.konsult-outer-form {
	margin: 45px 0;
	padding: 35px;
	background-color: #fff;

	h1 {
		color: $textColorPrise;
		font-size: 30px;
		text-align: center;
		margin-top: 0;
	}
	p {
		font-size: 16px;
		text-align: center;
		font-family: "Open_Sans";
		margin-top: 30px;
		line-height: 1.5;
	}
}

.konsult-form {
	width: 260px;
	margin: 0 auto;

	label {
	    display: inline-block;
	    font-size: 13px;
	    color: #000;
	    vertical-align: middle;
	    font-weight: normal;
	    margin-top: 20px;
	    margin-bottom: 7px;
	    margin-left: -15px;
	}

	input {
		border-top: none;
		border-left: none;
		border-right: none;
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 10px;

		&:focus {
			outline: none;
			border-bottom: 2px solid #e1e6ec;
		}
	}

	[type="submit"] {
		border: none;
		font-size: 12px;
		font-family: "Open Sans Semibold";
		color: #fff;
		background-color: #60b8b7;
		height: 50px;
		margin: 45px 0 22px 0;
		letter-spacing: 2px;
		border-radius: 0;
		outline: none;

		&:hover{
			background-color: #54cac8;
	
		}
	}

	.form-group{
		margin-bottom: 0;
		position: relative;
		text-align: center;
	
		i {
			padding-right: 10px;
			color: #eee;
			display: inline-block;
			vertical-align: middle;
		}
		.fa-user-o {
			font-size: 23px;
			padding-right: 10px;
			color: #eee;
		}
		.fa-phone {
			font-size: 23px;
			padding-right: 10px;
			color: #eee;
		}
		.fa-calendar{
			font-size: 23px;
			padding-right: 10px;
			color: #eee;
		}
	}

	.checkbox-label {
	    display: block;
	    position: relative;
	    padding-left: 35px;
	    margin-bottom: 12px;
	    left: 20px;
	    cursor: pointer;
	    font-size: 13px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    text-align: left;
	    line-height: 1.2;

	    input {
		    position: absolute;
		    opacity: 0;
		    cursor: pointer;
		}
	}

	.checkmark {
	    position: absolute;
	    top: 6px;
	    left: 0;
	    height: 20px;
	    width: 20px;
	    background-color: #fff;
	    border: 2px solid #edf1f5;
	}

	.checkbox-label input:checked ~ .checkmark {
	    background-color: #fff;
        border: 2px solid #edf1f5;
	}

	.checkmark:after {
	    content: "";
	    position: absolute;
	    display: none;
	}


	.checkbox-label input:checked ~ .checkmark:after {
	    display: block;
	}

	.checkbox-label .checkmark:after {
	    left: 7px;
	    top: 2px;
	    width: 5px;
	    height: 10px;
	    border: solid #60b8b7;
	    border-width: 0 3px 3px 0;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}


	.select-time {
		width: 100%;
		color: #d8d9d9;
		padding-bottom: 15px;
        padding-left: 100px;
		font-size: 20px;
		border: none;
		margin-top: 9px;
		border-bottom: 2px solid #e1e6ec;
		-webkit-appearance: none;
		-moz-appearance: none;

		&:focus {
			outline: none;
		}
	}
	.form-control-feedback {
	    position: absolute;
	    font-size: 13px;
	    top: 45px;
        right: 75px;
	    z-index: 2;
	    display: block;
	    color: #000;
	    width: 34px;
	    height: 50px;
	    line-height: 50px;
	    text-align: center;
	    pointer-events: none;

	    i {
	    	padding-right: 10px;
		    color: #131010;
		    display: inline-block;
		    vertical-align: middle;
	    }
	}


}
