
@media #{$tableMode} {
.pt-action-bar-button__text {
    max-width: 300px;    
}
  .pt-timeline {
    display: none;
  }
}

@media #{$mobileMode} {
  .process-timeline {
    margin-top: 45px;
  }
  .pt-timeline {
    display: none;
  }
  .pt-action-bar-button__text {
    max-width: 300px;
  }
}